.button{
    background:#0077ff;
    padding:2px 15px;
    border:none;
    outline:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px auto;
    margin-top:25px;
    color:#fff;  
    font-size:15px;
    font-weight: bold;
    border-radius:50px;
    cursor:pointer;
    transition: all .1s ease-in-out;
}

.button:hover{
    background:rgb(213, 155, 46);

}

.text{
    margin-left:15px;
}

.arrow{
    margin-left:8px;
}