.actionButtonWrap{
    margin-top:2px;
    /* border:2px solid red;  */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.termsAndService{
   font-size:14px;
    color:#c4c5c5;
    width:70%;
    margin:0 auto;
    margin-top:12px;
}